# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# SERVIDOR
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
PORT=3000
NODE_ENV=Tatooine
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# BASE DE DATOS
# DB_TYPE controla que driver usar: mysql | postgres
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nodejs
DB_USER=root
DB_PASSWORD=truque90
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# JWT — AUTENTICACION
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
JWT_SECRET= M4r4cuy490**
JWT_EXPIRES_IN=24h
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# PROVIDER AI
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
AI_PROVIDER=openai
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# OPENAI 
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# GOOGLE GEMINI AI
# Obtener en: aistudio.google.com
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyBu6kl8SsIsZfWie91tI-Du9_ARp8Wqbuc
AI_MODEL=gemini-3-flash-preview
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# PARAMETRO CONSUMO AI
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
AI_MAX_TOKENS=800
AI_TEMPERATURE=0.3
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# AGENTE AUTONOMO
# ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
# Modo: db | api | both
AGENT_MODE=db
# Nombre e identidad del agente
AGENT_NAME=Watto
AGENT_CONTEXT=Sistema de gestion de datos empresariales
# Tablas a excluir del esquema (separadas por coma)
AGENT_DB_EXCLUDE_TABLES=migrations,sessions
# NOTA: excluimos la tabla usuarios del esquema para que
# el agente no pueda ver ni consultar datos de autenticacion
# Maximo de filas por consulta
AGENT_DB_MAX_ROWS=100
# Configuracion API externa (solo si AGENT_MODE=api o both)
AGENT_API_OPENAPI_URL=
AGENT_API_BASE_URL=
AGENT_API_AUTH_TOKEN=
AGENT_API_AUTH_TYPE=bearer